{
    "env": {
        "browser": true,
        "es2020": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:prettier/recommended",
        "plugin:jsx-a11y/recommended",
        "plugin:testing-library/recommended",
        "plugin:jest-dom/recommended"
    ],
    "plugins": ["react", "jsx-a11y", "prettier", "no-only-tests"],
    "rules": {
        "react/prop-types": "off",
        "react/react-in-jsx-scope": "off"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "overrides": [
        {
            "files": ["*.ts", "*.tsx"],
            "parserOptions": {
                "project": "packages/*/{src,test}/tsconfig.json",
                "EXPERIMENTAL_useSourceOfProjectReferenceRedirect": true
            },
            "extends": [
                "plugin:@typescript-eslint/recommended",
                "plugin:@typescript-eslint/recommended-requiring-type-checking"
            ]
        }
    ]
}
